.film-picture {
    max-height: 500px;
    margin-left: 100px;
    border: 1px solid #000000;
}

.main-div {
    margin-top: 50px;
}

.main-div {
  width: 100%;
}

.film-details {
    color: black;
    margin-left: 50px;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    line-height: 26pt;
}

.title {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40pt;
}

.year {
    font-size: 20pt;
    margin-top: 30px;
}

.genre {
    display: inline-block;
    margin-right: 20px;
    height: 25px;
    width: 75px;
    text-align: center;
    line-height: 25px; 
    background-color: #00adb5;
    border-radius: 5px;
}

.genre-container {
    max-width: 400px;
}

.description {
    max-width: 400px;
    margin-top: 20px;
}

h1 {
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 30px;
}

h1, .positive-comment, .negative-comment, .neutral-comment {
    color: black;
}

.positive-comment {
    background-color: #DFFFD9;
}

.negative-comment {
    background-color: #FFD9D9;
}

.neutral-comment {
    background-color: #F7F7F7;
}

.comments-div {
    margin-left: 100px;
    margin-bottom: 50px;
    max-width: 700px;
}

.comment {
    margin-bottom: 20px;
    max-width: 700px;
    border: 1px solid #CCCCCC;
}

.avatar {
    width: 70px;
    height: 70px;
    float: left;
    margin: 10px;
}

.user-info {
    text-align: left;
}

.comment-date {
    display: inline-block;
    float: right;
    margin-right: 20px;
    font-size: 10pt;
    color: #404040;
}

.comment-text {
    margin-top: 30px;
    margin-left: 110px;
    padding-bottom: 50px;
    border-radius: 20px 40px;
    font-size: 12pt;
}

.username {
    display: inline-block;
    margin-left: 20px;
    font-size: 12pt;
}

.comment-top-part {
    padding-top: 20px;
}

.no-data-message {
    color: black;

}

label {
    color: black;
    margin-right: 10px;
}

select {
    background-color: cadetblue;
    border: 5px solid transparent;
    border-radius: 5px;
    padding: 2px;
}

.filter {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

.review-submit-form {
    max-width: 700px;
    color: black;
    margin-bottom: 100px;
    margin-top: 50px;
}

.review-submit-type {
    margin-top: 30px;
    margin-bottom: 30px;
}

.review-submit-text {
    width: 100%;
    height: 200px;
}

.submit-button, .submit-form-type-select {
    width: 100px;
    background-color: cadetblue;
    border: 5px solid transparent;
    border-radius: 5px;
}

.submit-button {
    margin-top: 20px;
    border: 1px solid black;
    height: 30px;
}

.submit-form-type-select {
    margin-top: 5px;
}

.submit-form-type-label {
    width: 100%;
}

.rating-div {
    
    margin-top: 25px;
    margin-bottom: 10px;
}