


<div class="main-div" *ngIf="currentFilm">

    <img class="film-picture" src="../assets/images/{{ currentFilm.imagePath }}">

    <div class="film-details">

      <div class="title">
        {{ currentFilm.name }} ({{ currentFilm.publishingYear }})
      </div>

      <div class="rating-div">
        {{ currentFilm.rating | number : '1.2-2' }}%
      </div>

      <div class="genre-container">
        <div class="genre" *ngFor="let genre of currentFilm.genres; let isLast=last">
          {{ genre.name }}
        </div>
      </div>

      <div class="description">
        {{ currentFilm.description }}
      </div>

    </div>


    <div class="comments-div">

        <hr style="margin-top: 50px;">
        <h1>Reviews ({{ currentFilm.filmReviews.length }})</h1>

        <div class="filter">

          <label for="reviewType">Filter by type:</label>

          <select name="reviewType" id="reviewType" [(ngModel)]="reviewTypeIdFilter" (change)="filterReviews($event.target.value)">
            <option value="-1">
              none
            </option>
            <option *ngFor="let type of allReviewTypes" value="{{ type.id }}">
              {{ type.name }}
            </option>
          </select>

        </div>

        <div class="comment" 
          *ngFor="let review of reviews" 
          [ngClass]="{'positive-comment': review.reviewType.name == 'positive',
          'negative-comment': review.reviewType.name == 'negative',
          'neutral-comment': review.reviewType.name == 'neutral'}"
        >
          <div class="user-info">
            
            <img class="avatar" src="assets/images/it.jpg">
  
            <div class="comment-top-part">
              <div class="username">
                Some user
              </div>
              <div class="comment-date">
                {{ review.date | date:'dd.MM.yyyy':'+3' }}
              </div>
            </div>
          </div>
          <div class="comment-text">
            {{ review.text }}
          </div>
        </div>
        <div class="no-data-message"
              *ngIf="reviews?.length == 0 || reviews == null">
          No reviews found.
        </div>

        <hr style="margin-top: 50px;">

        <div *ngIf="currentFilm != null">
          <form class="review-submit-form" [formGroup]="reviewForm" (ngSubmit)="sendReview()">

            <h2>Add your review:</h2>

            <div class="alert alert-warning" 
              *ngIf="reviewSubmitMsg != 'undefined' && reviewSubmitMsg.length">
                {{ reviewSubmitMsg }}
            </div>

            <div class="review-submit-type">
              <label class="submit-form-type-label" for="reviewType">Review type: </label>

              <select class="submit-form-type-select" formControlName="reviewTypeId" required
                name="reviewType" id="reviewType" (change)="changeTypeId($event.target.value)">

                <option *ngFor="let type of allReviewTypes"
                      value="{{ type.id }}">
                  {{ type.name }}
                </option>

              </select>
            </div>

            <label for="review-submit-text">Your opinion: </label>
            <textarea class="review-submit-text" formControlName="text" required minlength="10">
            </textarea>

            <button class="submit-button" type="submit" (submit)="sendReview()">Submit</button>
            
          </form>
          <div>
            {{reviewForm.value | json}}
           </div>
        </div>

    </div>

<div class="alert alert-warning" *ngIf="currentFilm == null">
  Film data not found.
</div>