
h1 {
    color: black;
    margin-top: 50px;
    font-weight: bold;
}

.grid-container, h1 {
    margin-left: 90px;
}

.grid-container {
    margin-top: 40px;
    width: 20%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    margin-bottom: 20px;
}