
h1 {
    color: black;
    margin-top: 50px;
    font-weight: bold;
}

.grid-container, h1 {
    margin-left: 90px;
}

.grid-container {
    margin-top: 40px;
    width: 40%;
    color: black;
    display: grid;
    grid-template-columns: 0.4fr 0.8fr 1fr;
}

.grid-item {
    margin-bottom: 20px;
}

input.ng-touched.ng-invalid {
    border-color: red;
}

.alert {
    height: 30px;
    line-height: 10px; 
    vertical-align: middle;
}