
h1 {
    color: black;
    font-weight: 200;
    font-size: 30pt;
}

.grid-container, h1 {
}

.grid-container {
    margin-top: 40px;
    width: 40%;
    color: black;
    display: grid;
    grid-template-columns: 0.4fr 0.8fr 1fr;
}

.grid-item {
    margin-bottom: 20px;
    font-size: 14pt;
    margin-right: 10px;
}

input.ng-touched.ng-invalid {
    border-color: red;
}

.alert {
    height: 30px;
    line-height: 10px; 
    vertical-align: middle;
}

form {
    margin-top: 60px;
    margin-left: 110px;
    width: 325px;
}

button {
    height: 40px;
    width: 325px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #00adb5;
    color: white;
    font-size: 14pt;
}

a {
    color: black;
    text-decoration: underline;
}