

<form [formGroup]="registerForm" (ngSubmit)="submitData()">

    <h1>Register here:</h1>

    <div class="grid-container">

        <div class="grid-item">
            Username:
        </div>
        <div class="username grid-item">
            <input type="text" required>
        </div>

        <div class="grid-item">
            Email:
        </div>
        <div class="email grid-item">
            <input type="text" required>
        </div>

        <div class="grid-item">
            Password:
        </div>
        <div class="password grid-item">
            <input type="text" required>
        </div>

        <button type="submit">Register</button>

    </div>

</form>
