


    <mat-sidenav-container class = "tp-container">

      <mat-sidenav class="tp-section-container" mode = "side" opened>
         <section class = "tp-section">
            <span class="sidenav-content">
               <a href="/films/top">
                  Top 10 films
               </a>
            </span>
         </section>

         <section *ngFor="let genre of genres" class = "tp-section">
            <span class="sidenav-content">
               <a href="/genres/{{genre.genreId}}/films">
                  {{ genre.name }}
               </a>
            </span>
         </section>
      </mat-sidenav>

      <mat-sidenav-content>
         <router-outlet></router-outlet>
      </mat-sidenav-content>


   </mat-sidenav-container>