
ul {
    color: #000000;
}

mat-grid-tile {
    color: #000000;
    background-color: #eeeeee;
    border: 1px solid #F9F9F9;
}

div {
    width:200px;
    text-align:center;
    display:block;
    border: 1px solid transparent;
    float:left;
}

mat-grid-list {
    text-align: center;
    max-width: 99.8%;
    max-height: 100%;
}

img {
    height: 300px;
    background-size: cover;
    border: 1px solid #000000;
}

.title {
    margin-top: 5px;
}

.spaceForFilters {
    margin-top: 10px;
}

.list-horizontal {
    display: flex;
    flex-direction: row;
}

.mat-list-item {
    color: black;
}

select {
    background-color: cadetblue;
    border: 5px solid transparent;
    border-radius: 5px;
    margin-left: 10px;
}