


<mat-list  class="list-horizontal" 
    *ngIf="getPathEnd() != 'top' ">

    <mat-list-item>
        Rating: 
        <select (change)="sortByRating($event.target.value)">
            <option value="none">
                none
            </option>
            <option value="Desc">
                Best first
            </option>
            <option value="Asc">
                Worst first
            </option>
        </select> 
    </mat-list-item>

</mat-list>

<mat-grid-list cols="3" rowHeight="1:1"
    [ngClass] = "{
        'spaceForFilters': getPathEnd() != 'top'
    }">


    <mat-grid-tile *ngFor="let film of films">

        <div>
            <a href="/films/{{ film.id }}">
                <img src="assets/images/{{ film.imagePath }}">
                <h3 class="title">
                    {{ film.name }}
                    ({{ film.publishingYear }})
                </h3>
                <mat-progress-bar class="rating-progress-bar" mode="determinate" value="{{ film.rating }}"
                    *ngIf="film.rating <= 50" color="warn">
                </mat-progress-bar>
                
                <mat-progress-bar class="rating-progress-bar" mode="determinate" value="{{ film.rating }}"
                    *ngIf="film.rating > 50" color="accent">
                </mat-progress-bar>
            </a>
        </div>

    </mat-grid-tile>

    <div *ngIf="films?.length == 0" class="alert alert-warning" style="width: 100%;">
        Sorry, an error ocurred. No Films found.
    </div>

</mat-grid-list>