

    <mat-sidenav-container class = "tp-container">

      <mat-sidenav class="tp-section-container" mode = "side" opened>
         <section class = "tp-section">
            <span class="sidenav-content">Top 50 films</span>
         </section>

         <section class = "tp-section">
            <span class="sidenav-content">Search</span>
         </section>
      </mat-sidenav>


      <mat-sidenav-content>
        <app-film-list></app-film-list>
      </mat-sidenav-content>


   </mat-sidenav-container>