<!-- <mat-sidenav-container>

    <mat-sidenav>Start</mat-sidenav>

    <mat-sidenav-content>
    <mat-toolbar color="primary">

        <mat-icon>local_movies</mat-icon>
        <span>
            Movies Database
        </span>
    
        <div class="spacer"></div>
    
        <mat-icon>event_seat</mat-icon>
        <mat-icon>event_seat</mat-icon>
        <mat-icon>event_seat</mat-icon>
        <mat-icon>event_seat</mat-icon>
        <mat-icon>event_seat</mat-icon>
    
        <a mat-button routerLink="login" mat-raised-button color="accent">
            <mat-icon>person</mat-icon>Sign up / Log in
        </a>
    </mat-toolbar>
</mat-sidenav-content>

    <mat-sidenav-content>Main</mat-sidenav-content>
    <mat-sidenav-content>Main2</mat-sidenav-content>

  </mat-sidenav-container> -->

  <mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    left panel
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon>local_movies</mat-icon>
      My Application
      <span class="toolbar-spacer"></span>

      <mat-icon>event_seat</mat-icon>
    <mat-icon>event_seat</mat-icon>
    <mat-icon>event_seat</mat-icon>
    <mat-icon>event_seat</mat-icon>
    <mat-icon>event_seat</mat-icon>

      <a mat-button routerLink="login" mat-raised-button color="accent">
        <mat-icon>person</mat-icon>Sign up / Log in
    </a>
    </mat-toolbar>

    <div class="main-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>