
.mat-button {
    margin-left: 30px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-icon-button {
    margin-right: 10px;
}

.movie-icon {
    color: #00adb5;
    margin-right: 2px;
}

mat-toolbar {
    border-bottom: 1px solid #ffffff;
}

.mat-blue {
    background-color: #00adb5;
}

.mat-dark-blue {
    background-color: #222831;
}